<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img src="https://media1.tchibo-content.de/newmedia/page/img/b14725cc6ea32e93/bean.svg" class="svgWithFallback js-tp-imagelazy--loaded" data-media-svg-fallback="https://media1.tchibo-content.de/newmedia/page/img/b0f725cc6ea32e93/bean.png" alt="" data-src="https://media1.tchibo-content.de/newmedia/page/img/b14725cc6ea32e93/bean.svg" data-lazyload="true">
        <a class="navbar-brand" href="#">Second Bean</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<div class="container">

    <button id="accountButton" type="button" class="btn btn-primary">Account</button>
    <hr class="mt-2 mb-5">

</div>-->

<div class="tagcloud03">
    <ul id="toptags">
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
        <li><a href="#">tag<span>20</span></a></li>
    </ul>
</div>

<div id="toplistContainer" style="padding: 0;">
    <ul class="list-group" id="toplist"></ul>
</div>
</body>
<script>
        axios.get('/api/toplist', {
                 params: {
                 }
             })
             .then(function(response) {
                 console.log(response.data);

                 response.data.forEach((product) => {
                     const li = document.createElement("li");
                     const img = document.createElement('img');
                     img.setAttribute('class', 'img-fluid img-thumbnail');
                     img.setAttribute('src', 'http://localhost:8080/api/image?imageId=' + product.imageId);
                     li.appendChild(img);
                     li.append(product.name + ' - ' + product.price + '€');
                     $('#toplist').append(li);
                 });
             })
             .catch(function(error) {
                 console.log(error);
             });


    $('#accountButton').on('click', function(e) {
        e.preventDefault();
        axios.get('/api/profile', {
                 params: {
                     profileId: '123'
                 }
             })
             .then(function(response) {
                 console.log(response);
             })
             .catch(function(error) {
                 console.log(error);
             });
    })


</script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>