<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#2965ae">
<div style="position: absolute; top: 25%; ">
    <div class="row justify-content-center">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-secondbean-transparent.png"
                 class="svgWithFallback js-tp-imagelazy--loaded"
                 data-media-svg-fallback="/images/logo-secondbean-transparent.png"
                 alt="" data-src="/images/logo-secondbean-transparent.png"
                 data-lazyload="true" >
        </a>
        <div class="row justify-content-center title">#secondBean</div>
    </div>
</div>
</body>
</html>